<!DOCTYPE html>
<html>
<head>
  <title>Manage Departments</title>
</head>
<body>
  <h1>Departments</h1>
  <ul>
    <% departments.forEach(d => { %>
      <li><%= d.name %></li>
    <% }) %>
  </ul>
</body>
</html>
